<h1>Welcome. You made it!</h1>

<a href="<%= new_goal_url %>">Create New Goal</a>
<br>
Goals:
<ul>
  <% current_user.goals.each do |goal| %>
  <li>
    <a href="<%= goal_url(goal) %>"><%= goal.title %></a>
  </li>
  <% end %>
</ul>

<br>

<h4>Comments:</h4>
<ul>
  <% @user.comments.each do |comment| %>
  <li>
    <%= comment.body %>
  </li>
  <% end %>

</ul>


<br>
<form action="<%= user_comments_url(@user) %>" method="post">

    <%= auth_token %>

    <label>
      Add Comment
      <input type="text" name="comment[body]">
    </label>
    <br>

    <input type="submit" value="Add Comment">
</form>